* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 60px; /* Ajuste conforme a altura do header */
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #00BF63; /* Ou a cor do seu tema */
    z-index: 1000; /* Garante que fique sobre outros elementos */
    transition: all 0.3s ease-in-out;
}

#header.rolagem {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona um efeito visual ao rolar */
}

.background_verde {
    background-color: #00BF63;
    width: 100%;
}

a {
    font-weight: 600;
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #057A3A;
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 1px;
    margin-left: 50px;
}

.menu-bar {
    display: none;
    cursor: pointer;
    margin-left: auto; 
    position: relative; 
}

.menu-bar div {
    width: 32px;
    height: 2px;
    background-color: #FFF8F8;
    margin: 8px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-list.active {
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.menu-bar.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu-bar.active .line2 {
    opacity: 0;
}

.menu-bar.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

main .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.text-main {
    width: 100%;
    color: aliceblue;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-imagem {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0 auto;
}

h1 {
    color: aliceblue;
    font-size: 20px;
}

h2 {
    color: aliceblue;
    font-size: 13px;
    margin-top: 30px;
    width: 80%;
}

.container {
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}

section,
footer
{
    padding: 2.7rem 0;
}
/*section diferenciais*/
.diferenciais .container {
    display: flex;
    justify-content: space-between; /* Espaça os cards uniformemente */
    flex-wrap: nowrap; /* Evita quebra de linha */
    gap: 20px; /* Espaçamento consistente entre os cards */
    margin: 30px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.diferenciais .card {
    flex: 0 0 30%; /* Cada card ocupa 30% do contêiner */
    max-width: 30%; /* Garante que não exceda 30% */
    cursor: pointer;
    border-radius: 15px;
    padding: 30px;
    background-color: rgba(225, 220, 219, 0.5); /* Corrigido ponto e vírgula */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
    transition: 0.3s; /* Suaviza a transição */
}

.diferenciais .card:hover {
    background-color: #E1DCDB;
    box-shadow: 0px 10px 67px 8px #A6A6A6;
}


.diferenciais .card img {
    width: 100%; /* Faz a imagem ocupar toda a largura do card */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Arredonda as bordas */
    margin-bottom: 15px; /* Espaçamento abaixo da imagem */
}

.diferenciais .card .titulo {
    margin: 13px 0;
    font-weight: 700;
    font-size: 1.2rem; /* Tamanho do título */
    text-align: center; /* Centraliza o texto */
}


/*resultados*/
.resultados{
    background-color: #057A3A;
}
.resultados .container{
   display: flex; 
   align-items: center;
   justify-content: space-between;
}
.resultados .resultados-text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    font-size: 1.6rem;
    font-weight: 600;
    width: 50%;
}
.resultados .resultados-dois{
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    margin-top: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.resultados .resultados-dois p{
    text-align: center;
    margin: 0 30px;
    font-size: 20px;
}

.resultados .resultados-dois p span{
    font-size: 25px;
    font-weight: 500;
}

/* section caso*/
.caso .container{
    display: flex;
    align-items: center;
}
.caso .caso-img{
    width: 50%;
}

.caso .caso-img img{
    width: 100%;
    border-radius: 10px;
}

.caso .caso-text{
    width: 50%; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 90px;
}

.caso .caso-text h2{
    font-size: 2.5rem;
    color: #057A3A;
}

.caso .caso-text p{
    margin: 20px 0;
    color:#737373 ;
}

.exemplo-1 .azul{
 font-size:24px ;
 font-weight: 600;
 color:#057A3A;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.exemplo-1 p{
    max-width: 500px;
    color: #057A3A;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.exemplo-1 .cards{
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    margin-top: 50px;
}

.exemplo-1 .cards .card-item{
    width: 30%;
    text-align: center;
    padding:  20px;
    border-radius: 20px;
    box-shadow: 0px 35px 97px -15px rgba(0, 0, 0, 0.5) ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.exemplo-1 .cards .img{
    padding: 0;
    width: 30%; 
    border-radius: 10px; 
    margin: 0 auto;
    border-radius: 20px;
}

.exemplo-1 .cards .numero{
    margin-bottom: 20px;
    color: #737373;
}
.exemplo-1 .cards button{
    padding: 10px 20px;
    color: rgb(243, 239, 238);
	border-radius:20px;		
	border: 4px solid #00BF63;
	background-color:#00BF63;
}

.exemplo-1 .cards button:hover{
    background-color:rgb(255, 240, 238);
    color:#00BF63
}
.exemplo-1 .cards button:active {
    background-color: rgb(227, 227, 227); /* Muda a cor de fundo */
    transform: scale(0.95); /* Dá um efeito de compressão suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Ajusta a sombra */
}

/*footer*/
footer{
    background-color: #057A3A;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


footer .container{
    display: flex;
    color:#FFF8F8
}

footer .container ul{
    list-style-type: none;
    width: 50%;
}
footer .container h3{
    margin-bottom: 16px;
    font-weight: 600;
}
footer .container .redes-sociais img{
    margin-right: 5px;
    max-width: 30px;
    border-radius: 10px;
}
footer .container ul > p{
    max-width: 100px;
    margin-bottom: 40px;
}
footer .container li{
    margin: 10px 0;
}
footer .container a {
    color: #FFF8F8;
}
/* Responsivo */

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    nav {
        flex-direction: row;
        padding: 10px 20px;
        background-color: #00BF63;
    }

    .nav-list {
        position: fixed;
        top: 6.3vh;
        right: 0;
        width: 50vw;
        height: 35vh;
        background: #057A3A;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: all 0.3s ease;
        transform: translateX(100%);
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px; 
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
 
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .nav-list li {
        margin-left: 0;
        margin-top: 15px;
        font-size: 18px;
    }

    .menu-bar {
        display: block;
    }

    .main-image {
        max-width: 10%;
        height: auto;
        float: left; 
        margin-right: 1000px;
    }

    .text-main {
        text-align: left;
        font-size: 15px; 
        padding: 0;
        margin: 0 auto;
    }
    h1 {
        place-items: center;
        text-align: center;
        font-size: 25px;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    h2 {
        place-items: center;
        text-align: center;
        font-size: 13px;
        padding: 0;
        margin: 0 auto;
    }


    main .container{
        flex-direction: column;
    }

    .resultados .container{
        flex-direction: column;
    }
    .resultados .resultados-text,
    .resultados .resultados-dois{
        width: 100%;
        text-align: center;
    }
    .diferenciais .container{
        flex-direction: column;
    }
    .diferenciais .card{
       min-width: 100%; 
    }
    .caso .container{
        flex-direction: column-reverse;
    }
    .caso .caso-text,
    .caso .caso-img{
        width: 100%;
        padding: 0 ;
    }
    .exemplo-1 .cards{
        flex-direction: column;
        text-align: center;
    }
    .exemplo-1 .cards .card-item{
        width: 100%;
        margin-top: 50px;
    }
    footer .container{
        display: flex;
        
    }
}

